# Lesson Plan
In this session, we will be working with the Udacity student data to master key concepts in the data exploration phase:
    - Data Ingestion
    - Data Cleaning
    - Sanity Checking
    - Describing the Data
    - Slicing Data
    - Grouping Data
    - Crunching and Validating Numbers
    - Plotting

# Part 1: Data Ingestion and Wrangling

# Ingesting CSVs

### Ingesting CSVs using your own code
First think about what data structure to read in. Here, I am going to read in a list of dictionaries, with each record being a dictionary.

In [1]:
keys = ["account_key",
        "status",
        "join_date",
        "cancel_date",
        "days_to_cancel",
        "is_udacity",
        "is_canceled"]

def read_csv(filename):
    data = list()
    with open(filename) as f:
        for line in f:
            parts = line.strip().split(",")
            data.append(dict(zip(keys, parts)))
    return data

enrollments = read_csv("enrollments.csv")
print(enrollments[0])

daily_engagement = read_csv("daily_engagement.csv")
project_submissions = read_csv("project_submissions.csv")

{'account_key': 'account_key', 'status': 'status', 'join_date': 'join_date', 'cancel_date': 'cancel_date', 'days_to_cancel': 'days_to_cancel', 'is_udacity': 'is_udacity', 'is_canceled': 'is_canceled'}

* Observation: But what if we don't know the header fields? What if the header fields change? We should avoid hard-coding as much as possible. 
* <b> Better version </b>: The following piece of code uses the csv library which provides a function that interprets the first row as the header, and populates the list of dictionaries accordingly.

### Ingesting CSVs using the csv library

In [2]:
import csv

def read_csv(filename):
    with open(filename) as csvfile:
        data = csv.DictReader(csvfile)
        return list(data)
            
enrollments = read_csv("enrollments.csv")
daily_engagement = read_csv("daily_engagement.csv")
project_submissions = read_csv("project_submissions.csv")
print(enrollments[0])

OrderedDict([('account_key', '448'), ('status', 'canceled'), ('join_date', '2014-11-10'), ('cancel_date', '2015-01-14'), ('days_to_cancel', '65'), ('is_udacity', 'True'), ('is_canceled', 'True')])

### Ingesting CSVs using the Pandas library
We will learn about Pandas and the data-types it offers later. But for now let us see how ingestion looks, and how Pandas significantly makes code cleaner and the output much more readable. It also makes ingestion faster!

In [3]:
import pandas as pd

enrollments_pd = pd.read_csv("enrollments.csv")
daily_engagement_pd = pd.read_csv("daily_engagement.csv")
project_submissions_pd = pd.read_csv("project_submissions.csv")

enrollments_pd.head()

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled
0,448,canceled,2014-11-10,2015-01-14,65.0,True,True
1,448,canceled,2014-11-05,2014-11-10,5.0,True,True
2,448,canceled,2015-01-27,2015-01-27,0.0,True,True
3,448,canceled,2014-11-10,2014-11-10,0.0,True,True
4,448,current,2015-03-10,NaN,NaN,True,False

In [4]:
project_submissions_pd.head()

,creation_date,completion_date,assigned_rating,account_key,lesson_key,processing_state
0,2015-01-14,2015-01-16,UNGRADED,256,3176718735,EVALUATED
1,2015-01-10,2015-01-13,INCOMPLETE,256,3176718735,EVALUATED
2,2015-01-20,2015-01-20,PASSED,256,3176718735,EVALUATED
3,2015-03-10,2015-03-13,PASSED,434,3176718735,EVALUATED
4,2015-02-17,2015-03-03,INCOMPLETE,434,3176718735,EVALUATED

In [19]:
daily_engagement_pd.head()

,acct,utc_date,num_courses_visited,total_minutes_visited,lessons_completed,projects_completed
0,0,2015-01-09,1.0,11.679374,0.0,0.0
1,0,2015-01-10,2.0,37.284887,0.0,0.0
2,0,2015-01-11,2.0,53.633746,0.0,0.0
3,0,2015-01-12,1.0,33.489270,0.0,0.0
4,0,2015-01-13,1.0,64.779678,0.0,0.0


# Is my data ready to work with?
Let us look at the data types:

In [6]:
print("The data types for enrollments are:")
for key, val in enrollments[0].items():
    print(key, "\t", type(val))

The data types for enrollments are:
account_key 	 <class 'str'>
status 	 <class 'str'>
join_date 	 <class 'str'>
cancel_date 	 <class 'str'>
days_to_cancel 	 <class 'str'>
is_udacity 	 <class 'str'>
is_canceled 	 <class 'str'>

Looks like everything just got read as a string. We have some conversion work to do! Specifically, we need to convert: (i) string to int, (ii) string to bool, (iii) string to datetime, and (iv) string to float.

In [7]:
from datetime import datetime as dt

def convert_str_to_bool(string):
    if string == "True":
        return True
    elif string == "False":
        return False
    else:
        return None
    
def convert_str_to_int(string):
    if string == "":
        return None
    else:
        return int(string)
    
def parse_date(date_str):
    if date_str == "":
        return None
    return dt.strptime(date_str, "%Y-%m-%d")
    
def convert_str_to_float(string):
    if string == "":
        return None
    else:
        return float(string)
    
    
def clean_enrollment_data_types(enrollment_data):
    for data in enrollment_data:
        data["is_canceled"] = convert_str_to_bool(data["is_canceled"])
        data["is_udacity"] = convert_str_to_bool(data["is_udacity"])
        data["join_date"] = parse_date(data["join_date"])
        data["cancel_date"] = parse_date(data["cancel_date"])
        data["days_to_cancel"] = convert_str_to_int(data["days_to_cancel"])

def clean_project_submissions_data_types(project_submissions_data):
    for data in project_submissions_data:
        data["creation_date"] = parse_date(data["creation_date"])
        data["completion_date"] = parse_date(data["completion_date"])

def clean_daily_engagement_data_types(daily_engagements_data):
    for data in daily_engagements_data:
        data["utc_date"] = parse_date(data["utc_date"]) 
        data["num_courses_visited"] = convert_str_to_float(data["num_courses_visited"])
        data["total_minutes_visited"] = convert_str_to_float(data["total_minutes_visited"])
        data["lessons_completed"] = convert_str_to_float(data["lessons_completed"])
        data["projects_completed"] = convert_str_to_float(data["projects_completed"])
        
clean_enrollment_data_types(enrollments)
clean_project_submissions_data_types(project_submissions)
clean_daily_engagement_data_types(daily_engagement)

Let's check types again:

In [8]:
print("The data types for enrollments are:")
for key, val in enrollments[0].items():
    print(key, "\t", type(val))

The data types for enrollments are:
account_key 	 <class 'str'>
status 	 <class 'str'>
join_date 	 <class 'datetime.datetime'>
cancel_date 	 <class 'datetime.datetime'>
days_to_cancel 	 <class 'int'>
is_udacity 	 <class 'bool'>
is_canceled 	 <class 'bool'>

# Brainstorm: What can we explore?
- Now that the data is in a format we can work with, how should we start our exploration?
- As a data analyst you must develop a sense about what you can extract from the data.
- Some things that I was interested in when I looked at this dataset: 
* How does student daily engagement related to grades in projects? Is it that the higher the amount of time you spend, the better grades you get?
* How does the number of courses you are enrolled in affect your performance?
* Can we study cancellation trends, what causes students to cancel?


# Exercise 1: Data basics and inconsistencies (10 mins)

But before we get into the data, lets understand the data and if there are any inconsistencies. Is our data complete? How big is it? Is it sufficient to study these questions? 
* For each of the three files you have loaded, find the total number of rows in the csv and the number of unique students. To find the number of unique students in each table, you might want to try creating a set of the account keys. Also, try writing a function so that you do not repeat code for each table.

* Did you come across any issues while trying to write this function?
* Do you have any observations about these numbers?

####  Bonus Question: Over how much time was this data collected?

In [24]:
# Row Count Function
def row_count(dataset):
    count=0
    for i in dataset:
        count+=1        
    return count

print("Number of Rows in Enrollment Dataset: ",row_count(enrollments))
print("Number of Rows in Daily Engagement Dataset: ",row_count(daily_engagement))
print("Number of Rows in Project Submission Dataset: ",row_count(project_submissions))

# Unique Student Count Using Account Key Coloumn
def unique_count(dataset):
    x=[]
    for i in dataset:
        x.append(list(i.values())[0])
    return len(set(x))

print('Number of Unique Student Accounts in Enrollment Dataset: ',unique_count(enrollments))
print('Number of Unique Student Accounts in Daily Engagement Dataset: ',unique_count(daily_engagement))
print('Number of Unique Student Accounts in Project Submission Dataset: ',unique_count(project_submissions))

Number of Rows in Enrollment Dataset:  1640
Number of Rows in Daily Engagement Dataset:  136240
Number of Rows in Project Submission Dataset:  3642
Number of Unique Student Accounts in Enrollment Dataset:  1302
Number of Unique Student Accounts in Daily Engagement Dataset:  1237
Number of Unique Student Accounts in Project Submission Dataset:  276

# Exercise 2 (Optional): Bounds checks
* Familiarize yourself with the possible values for each field, write checks to make sure the values fall in the expected format/set. For example, does the date field always make sense? What are the possible values of the field <b>"assigned rating"</b> in the project_submissions table?

### Fix 1: Fix inconsistencies (if any)

In [25]:
# Paste and run code that I will provide here
for record in daily_engagement:
    record["account_key"] = record["acct"] 
    del record["acct"]

### Fix 2: Filter Data

In [26]:
# Paste and run code that I will provide here
# Here we filter out data from test accounts
def get_udacity_accounts(enrollment_data):
    udacity_accounts = set()
    for record in enrollment_data:
        if record["is_udacity"]:
            udacity_accounts.add(record["account_key"])
    return udacity_accounts

def remove_udacity_test_accounts(data, test_accounts):
    filtered_data = list()
    for record in data:
        if record["account_key"] not in test_accounts:
            filtered_data.append(record)
    return filtered_data

udacity_accounts = get_udacity_accounts(enrollments)
non_udacity_enrollments = remove_udacity_test_accounts(enrollments, udacity_accounts)
non_udacity_project_submissions = remove_udacity_test_accounts(project_submissions, udacity_accounts)
non_udacity_daily_engagement = remove_udacity_test_accounts(daily_engagement, udacity_accounts)

print(len(enrollments))
print(len(non_udacity_enrollments))
print(len(non_udacity_project_submissions))
print(len(non_udacity_daily_engagement))

1640
1622
3634
135656

Note: Everytime you filter data, you should understand filtering ratios. In this case, we only filtered a handful of accounts, and looks like most of the records were retained. Can you think of a reason in this case why it is possible that we might have filtered out a lot of data?

# Part 2: Data Analysis


### Goal: How does daily engagement differ for students who pass the first project vs. for those who do not?

Some questions to think about:
- Daily engagement over how much time? All time up until the project submission? Or for a fixed period of time?
- We already know that some students cancel after enrolling. How is cancellation going to affect our numbers?

Let us refine the question to: how does daily engagement **in the first week** (after enrollment) differ for students who pass their first project? Further let us limit to students that remain enrolled for at least seven days.

# Exercise 1: Slicing, Grouping, and Crunching Data (30 mins)
### Tasks:
- Create a dictionary containing only paid students that remain enrolled for at least a week --- the dictionary should map account keys to enrollment date.
- *Slice data:* For these students, extract engagement records that are **within** one week after their enrollment date (I have provided a helper function for doing the within-one-week check)
- *Group data:* Compute the following metrics per student: total number of minutes spent, total number of lessons completed, and (optional) total number of days student visited the classroom
- Write a function describe_data, that prints the mean, standard deviation, max, and min for the above metrics

#### Check whether you are on the right track:
- Task 1: The number of keys in this dictionary should be 995. Thing to check for: Is there only one enrollment record per student in the data? If you find there are multiple, how will you deal with it?
- Task 2: The number of records you should get is: 21,508
- Task 3: Brainstorm ways in which you can check whether your crunching is correct.

In [171]:
# Your code goes here

# print(list(non_udacity_enrollments[9].keys())[2])
# dictionary
dic = {}
for record in non_udacity_enrollments:
    if (str(record["days_to_cancel"]) >= '7') or (str(record["days_to_cancel"]) == 'None'):
        dic[record["account_key"]] = record["join_date"]

for keys,values in dic.items():
    print('Acc num: %s enrollment date: %s' % (keys,values))


# Helper function to check for data within one week
def within_one_week(record_date, enrollment_date):
    time_delta = record_date - enrollment_date
    return time_delta.days < 7

Acc num: 429 enrollment date: 2015-03-10 00:00:00
Acc num: 60 enrollment date: 2015-04-01 00:00:00
Acc num: 369 enrollment date: 2014-11-10 00:00:00
Acc num: 322 enrollment date: 2015-03-10 00:00:00
Acc num: 336 enrollment date: 2014-11-10 00:00:00
Acc num: 553 enrollment date: 2014-11-10 00:00:00
Acc num: 584 enrollment date: 2015-03-10 00:00:00
Acc num: 1006 enrollment date: 2014-11-10 00:00:00
Acc num: 458 enrollment date: 2015-04-06 00:00:00
Acc num: 1058 enrollment date: 2015-03-10 00:00:00
Acc num: 206 enrollment date: 2014-11-10 00:00:00
Acc num: 45 enrollment date: 2015-03-10 00:00:00
Acc num: 604 enrollment date: 2014-11-10 00:00:00
Acc num: 204 enrollment date: 2014-11-10 00:00:00
Acc num: 51 enrollment date: 2015-03-10 00:00:00
Acc num: 568 enrollment date: 2014-11-10 00:00:00
Acc num: 130 enrollment date: 2015-04-01 00:00:00
Acc num: 44 enrollment date: 2015-03-10 00:00:00
Acc num: 198 enrollment date: 2014-11-10 00:00:00
Acc num: 368 enrollment date: 2014-11-10 00:00:00
Acc num: 440 enrollment date: 2014-11-11 00:00:00
Acc num: 57 enrollment date: 2015-05-06 00:00:00
Acc num: 702 enrollment date: 2015-03-10 00:00:00
Acc num: 38 enrollment date: 2014-11-14 00:00:00
Acc num: 215 enrollment date: 2014-11-14 00:00:00
Acc num: 217 enrollment date: 2015-03-10 00:00:00
Acc num: 1221 enrollment date: 2014-11-14 00:00:00
Acc num: 1211 enrollment date: 2015-03-06 00:00:00
Acc num: 1286 enrollment date: 2014-11-14 00:00:00
Acc num: 53 enrollment date: 2015-05-11 00:00:00
Acc num: 283 enrollment date: 2014-11-15 00:00:00
Acc num: 338 enrollment date: 2015-05-11 00:00:00
Acc num: 579 enrollment date: 2014-11-15 00:00:00
Acc num: 627 enrollment date: 2014-11-16 00:00:00
Acc num: 253 enrollment date: 2015-01-14 00:00:00
Acc num: 822 enrollment date: 2015-07-18 00:00:00
Acc num: 96 enrollment date: 2014-11-17 00:00:00
Acc num: 943 enrollment date: 2014-11-10 00:00:00
Acc num: 620 enrollment date: 2014-11-10 00:00:00
Acc num: 195 enrollment date: 2014-11-10 00:00:00
Acc num: 354 enrollment date: 2014-11-10 00:00:00
Acc num: 114 enrollment date: 2015-05-08 00:00:00
Acc num: 537 enrollment date: 2014-11-10 00:00:00
Acc num: 339 enrollment date: 2015-04-01 00:00:00
Acc num: 1244 enrollment date: 2015-05-17 00:00:00
Acc num: 752 enrollment date: 2014-11-10 00:00:00
Acc num: 194 enrollment date: 2014-11-10 00:00:00
Acc num: 102 enrollment date: 2014-11-10 00:00:00
Acc num: 522 enrollment date: 2014-11-10 00:00:00
Acc num: 329 enrollment date: 2015-04-08 00:00:00
Acc num: 225 enrollment date: 2014-11-10 00:00:00
Acc num: 612 enrollment date: 2015-03-10 00:00:00
Acc num: 595 enrollment date: 2014-11-10 00:00:00
Acc num: 587 enrollment date: 2015-05-28 00:00:00
Acc num: 439 enrollment date: 2015-03-10 00:00:00
Acc num: 428 enrollment date: 2014-11-10 00:00:00
Acc num: 18 enrollment date: 2014-11-10 00:00:00
Acc num: 10 enrollment date: 2014-11-10 00:00:00
Acc num: 23 enrollment date: 2014-11-10 00:00:00
Acc num: 576 enrollment date: 2014-11-10 00:00:00
Acc num: 223 enrollment date: 2014-11-10 00:00:00
Acc num: 480 enrollment date: 2015-04-01 00:00:00
Acc num: 1107 enrollment date: 2014-11-11 00:00:00
Acc num: 275 enrollment date: 2014-11-16 00:00:00
Acc num: 245 enrollment date: 2014-11-14 00:00:00
Acc num: 135 enrollment date: 2014-11-14 00:00:00
Acc num: 37 enrollment date: 2014-11-14 00:00:00
Acc num: 186 enrollment date: 2014-11-14 00:00:00
Acc num: 389 enrollment date: 2014-11-15 00:00:00
Acc num: 693 enrollment date: 2015-01-14 00:00:00
Acc num: 88 enrollment date: 2015-04-01 00:00:00
Acc num: 845 enrollment date: 2014-11-16 00:00:00
Acc num: 983 enrollment date: 2015-01-14 00:00:00
Acc num: 499 enrollment date: 2015-02-06 00:00:00
Acc num: 590 enrollment date: 2015-05-11 00:00:00
Acc num: 300 enrollment date: 2014-12-03 00:00:00
Acc num: 54 enrollment date: 2014-12-03 00:00:00
Acc num: 736 enrollment date: 2014-12-04 00:00:00
Acc num: 278 enrollment date: 2014-12-04 00:00:00
Acc num: 377 enrollment date: 2014-12-05 00:00:00
Acc num: 342 enrollment date: 2014-12-05 00:00:00
Acc num: 358 enrollment date: 2014-12-05 00:00:00
Acc num: 347 enrollment date: 2015-04-05 00:00:00
Acc num: 295 enrollment date: 2015-04-03 00:00:00
Acc num: 343 enrollment date: 2014-12-07 00:00:00
Acc num: 502 enrollment date: 2014-12-08 00:00:00
Acc num: 495 enrollment date: 2014-12-04 00:00:00
Acc num: 364 enrollment date: 2014-12-05 00:00:00
Acc num: 524 enrollment date: 2015-03-04 00:00:00
Acc num: 560 enrollment date: 2014-12-06 00:00:00
Acc num: 570 enrollment date: 2014-12-07 00:00:00
Acc num: 581 enrollment date: 2014-12-07 00:00:00
Acc num: 759 enrollment date: 2015-04-08 00:00:00
Acc num: 896 enrollment date: 2015-04-08 00:00:00
Acc num: 346 enrollment date: 2014-12-08 00:00:00
Acc num: 557 enrollment date: 2015-03-10 00:00:00
Acc num: 1124 enrollment date: 2015-04-08 00:00:00
Acc num: 350 enrollment date: 2015-01-07 00:00:00
Acc num: 345 enrollment date: 2015-01-07 00:00:00
Acc num: 530 enrollment date: 2015-01-07 00:00:00
Acc num: 383 enrollment date: 2015-01-07 00:00:00
Acc num: 356 enrollment date: 2015-01-09 00:00:00
Acc num: 859 enrollment date: 2014-11-15 00:00:00
Acc num: 91 enrollment date: 2015-03-10 00:00:00
Acc num: 12 enrollment date: 2014-11-10 00:00:00
Acc num: 3 enrollment date: 2015-03-10 00:00:00
Acc num: 224 enrollment date: 2014-11-10 00:00:00
Acc num: 562 enrollment date: 2014-11-10 00:00:00
Acc num: 1098 enrollment date: 2014-11-10 00:00:00
Acc num: 412 enrollment date: 2015-04-01 00:00:00
Acc num: 390 enrollment date: 2014-11-10 00:00:00
Acc num: 81 enrollment date: 2014-11-10 00:00:00
Acc num: 234 enrollment date: 2014-11-11 00:00:00
Acc num: 273 enrollment date: 2014-11-14 00:00:00
Acc num: 76 enrollment date: 2015-01-15 00:00:00
Acc num: 131 enrollment date: 2014-11-14 00:00:00
Acc num: 231 enrollment date: 2014-11-14 00:00:00
Acc num: 327 enrollment date: 2014-11-14 00:00:00
Acc num: 277 enrollment date: 2014-11-15 00:00:00
Acc num: 280 enrollment date: 2014-11-15 00:00:00
Acc num: 308 enrollment date: 2014-11-16 00:00:00
Acc num: 202 enrollment date: 2014-12-03 00:00:00
Acc num: 643 enrollment date: 2015-04-18 00:00:00
Acc num: 244 enrollment date: 2014-12-04 00:00:00
Acc num: 500 enrollment date: 2015-02-03 00:00:00
Acc num: 209 enrollment date: 2014-12-05 00:00:00
Acc num: 292 enrollment date: 2014-12-05 00:00:00
Acc num: 546 enrollment date: 2014-12-05 00:00:00
Acc num: 637 enrollment date: 2015-05-06 00:00:00
Acc num: 52 enrollment date: 2014-12-07 00:00:00
Acc num: 747 enrollment date: 2015-04-02 00:00:00
Acc num: 450 enrollment date: 2014-12-07 00:00:00
Acc num: 111 enrollment date: 2014-12-07 00:00:00
Acc num: 461 enrollment date: 2014-12-08 00:00:00
Acc num: 474 enrollment date: 2014-12-09 00:00:00
Acc num: 66 enrollment date: 2015-01-07 00:00:00
Acc num: 623 enrollment date: 2014-12-07 00:00:00
Acc num: 791 enrollment date: 2015-01-08 00:00:00
Acc num: 507 enrollment date: 2015-03-10 00:00:00
Acc num: 488 enrollment date: 2015-01-09 00:00:00
Acc num: 362 enrollment date: 2015-02-05 00:00:00
Acc num: 263 enrollment date: 2015-08-12 00:00:00
Acc num: 965 enrollment date: 2015-01-10 00:00:00
Acc num: 598 enrollment date: 2015-01-12 00:00:00
Acc num: 989 enrollment date: 2015-04-08 00:00:00
Acc num: 28 enrollment date: 2015-01-12 00:00:00
Acc num: 166 enrollment date: 2014-12-08 00:00:00
Acc num: 682 enrollment date: 2014-12-08 00:00:00
Acc num: 966 enrollment date: 2015-03-10 00:00:00
Acc num: 442 enrollment date: 2015-05-14 00:00:00
Acc num: 5 enrollment date: 2015-01-07 00:00:00
Acc num: 592 enrollment date: 2015-01-07 00:00:00
Acc num: 34 enrollment date: 2015-02-03 00:00:00
Acc num: 0 enrollment date: 2015-01-09 00:00:00
Acc num: 527 enrollment date: 2015-01-09 00:00:00
Acc num: 227 enrollment date: 2015-04-08 00:00:00
Acc num: 599 enrollment date: 2015-04-02 00:00:00
Acc num: 181 enrollment date: 2015-03-10 00:00:00
Acc num: 126 enrollment date: 2014-11-14 00:00:00
Acc num: 254 enrollment date: 2014-11-14 00:00:00
Acc num: 869 enrollment date: 2014-11-14 00:00:00
Acc num: 334 enrollment date: 2015-03-10 00:00:00
Acc num: 469 enrollment date: 2014-11-16 00:00:00
Acc num: 33 enrollment date: 2015-01-12 00:00:00
Acc num: 250 enrollment date: 2015-01-12 00:00:00
Acc num: 486 enrollment date: 2015-01-12 00:00:00
Acc num: 567 enrollment date: 2015-01-12 00:00:00
Acc num: 371 enrollment date: 2015-01-13 00:00:00
Acc num: 1277 enrollment date: 2015-01-14 00:00:00
Acc num: 923 enrollment date: 2015-03-10 00:00:00
Acc num: 640 enrollment date: 2015-04-01 00:00:00
Acc num: 529 enrollment date: 2015-02-03 00:00:00
Acc num: 222 enrollment date: 2014-11-17 00:00:00
Acc num: 256 enrollment date: 2015-04-01 00:00:00
Acc num: 288 enrollment date: 2014-12-03 00:00:00
Acc num: 523 enrollment date: 2015-03-10 00:00:00
Acc num: 397 enrollment date: 2015-04-01 00:00:00
Acc num: 1181 enrollment date: 2014-12-05 00:00:00
Acc num: 193 enrollment date: 2015-04-01 00:00:00
Acc num: 180 enrollment date: 2015-04-08 00:00:00
Acc num: 722 enrollment date: 2015-03-10 00:00:00
Acc num: 125 enrollment date: 2015-01-13 00:00:00
Acc num: 140 enrollment date: 2015-01-14 00:00:00
Acc num: 388 enrollment date: 2015-02-03 00:00:00
Acc num: 147 enrollment date: 2015-02-03 00:00:00
Acc num: 119 enrollment date: 2015-04-08 00:00:00
Acc num: 97 enrollment date: 2015-04-08 00:00:00
Acc num: 984 enrollment date: 2015-08-13 00:00:00
Acc num: 444 enrollment date: 2015-04-08 00:00:00
Acc num: 493 enrollment date: 2015-02-05 00:00:00
Acc num: 435 enrollment date: 2015-02-06 00:00:00
Acc num: 156 enrollment date: 2014-11-10 00:00:00
Acc num: 145 enrollment date: 2014-11-10 00:00:00
Acc num: 420 enrollment date: 2014-11-10 00:00:00
Acc num: 582 enrollment date: 2014-11-10 00:00:00
Acc num: 90 enrollment date: 2015-04-01 00:00:00
Acc num: 864 enrollment date: 2014-11-10 00:00:00
Acc num: 328 enrollment date: 2014-11-10 00:00:00
Acc num: 1122 enrollment date: 2014-11-10 00:00:00
Acc num: 626 enrollment date: 2014-11-10 00:00:00
Acc num: 617 enrollment date: 2014-11-12 00:00:00
Acc num: 159 enrollment date: 2015-02-12 00:00:00
Acc num: 561 enrollment date: 2015-02-05 00:00:00
Acc num: 352 enrollment date: 2015-02-05 00:00:00
Acc num: 374 enrollment date: 2015-02-06 00:00:00
Acc num: 857 enrollment date: 2015-04-08 00:00:00
Acc num: 138 enrollment date: 2015-04-08 00:00:00
Acc num: 416 enrollment date: 2015-04-08 00:00:00
Acc num: 132 enrollment date: 2015-03-04 00:00:00
Acc num: 50 enrollment date: 2015-03-04 00:00:00
Acc num: 607 enrollment date: 2015-03-05 00:00:00
Acc num: 251 enrollment date: 2015-04-08 00:00:00
Acc num: 564 enrollment date: 2015-04-08 00:00:00
Acc num: 70 enrollment date: 2015-02-09 00:00:00
Acc num: 494 enrollment date: 2014-11-10 00:00:00
Acc num: 603 enrollment date: 2015-02-09 00:00:00
Acc num: 307 enrollment date: 2015-02-10 00:00:00
Acc num: 337 enrollment date: 2015-02-10 00:00:00
Acc num: 30 enrollment date: 2015-02-10 00:00:00
Acc num: 82 enrollment date: 2015-03-05 00:00:00
Acc num: 348 enrollment date: 2015-03-05 00:00:00
Acc num: 139 enrollment date: 2015-03-06 00:00:00
Acc num: 185 enrollment date: 2015-04-01 00:00:00
Acc num: 281 enrollment date: 2014-11-14 00:00:00
Acc num: 191 enrollment date: 2015-03-10 00:00:00
Acc num: 261 enrollment date: 2014-11-16 00:00:00
Acc num: 415 enrollment date: 2015-03-10 00:00:00
Acc num: 935 enrollment date: 2014-11-16 00:00:00
Acc num: 719 enrollment date: 2014-11-17 00:00:00
Acc num: 668 enrollment date: 2015-01-13 00:00:00
Acc num: 836 enrollment date: 2015-07-16 00:00:00
Acc num: 319 enrollment date: 2014-12-30 00:00:00
Acc num: 285 enrollment date: 2015-03-10 00:00:00
Acc num: 1008 enrollment date: 2015-01-07 00:00:00
Acc num: 71 enrollment date: 2015-04-07 00:00:00
Acc num: 1073 enrollment date: 2015-01-07 00:00:00
Acc num: 421 enrollment date: 2015-01-08 00:00:00
Acc num: 9 enrollment date: 2015-01-08 00:00:00
Acc num: 144 enrollment date: 2015-03-06 00:00:00
Acc num: 1212 enrollment date: 2015-07-19 00:00:00
Acc num: 344 enrollment date: 2015-01-11 00:00:00
Acc num: 517 enrollment date: 2015-03-06 00:00:00
Acc num: 171 enrollment date: 2015-03-08 00:00:00
Acc num: 586 enrollment date: 2015-03-10 00:00:00
Acc num: 492 enrollment date: 2015-03-10 00:00:00
Acc num: 1287 enrollment date: 2015-03-10 00:00:00
Acc num: 1254 enrollment date: 2015-03-10 00:00:00
Acc num: 1259 enrollment date: 2015-03-10 00:00:00
Acc num: 1128 enrollment date: 2015-03-11 00:00:00
Acc num: 149 enrollment date: 2015-03-11 00:00:00
Acc num: 78 enrollment date: 2015-04-01 00:00:00
Acc num: 558 enrollment date: 2015-04-01 00:00:00
Acc num: 246 enrollment date: 2015-04-01 00:00:00
Acc num: 455 enrollment date: 2015-04-01 00:00:00
Acc num: 106 enrollment date: 2015-03-10 00:00:00
Acc num: 591 enrollment date: 2015-04-01 00:00:00
Acc num: 31 enrollment date: 2015-03-10 00:00:00
Acc num: 69 enrollment date: 2015-03-10 00:00:00
Acc num: 906 enrollment date: 2015-03-10 00:00:00
Acc num: 601 enrollment date: 2015-03-10 00:00:00
Acc num: 321 enrollment date: 2015-07-09 00:00:00
Acc num: 685 enrollment date: 2015-03-10 00:00:00
Acc num: 571 enrollment date: 2015-04-01 00:00:00
Acc num: 426 enrollment date: 2015-05-07 00:00:00
Acc num: 1267 enrollment date: 2015-04-02 00:00:00
Acc num: 392 enrollment date: 2015-04-02 00:00:00
Acc num: 98 enrollment date: 2015-04-02 00:00:00
Acc num: 578 enrollment date: 2015-04-02 00:00:00
Acc num: 86 enrollment date: 2015-04-02 00:00:00
Acc num: 158 enrollment date: 2015-04-04 00:00:00
Acc num: 151 enrollment date: 2015-01-11 00:00:00
Acc num: 642 enrollment date: 2015-01-11 00:00:00
Acc num: 534 enrollment date: 2015-01-12 00:00:00
Acc num: 214 enrollment date: 2015-01-12 00:00:00
Acc num: 1242 enrollment date: 2015-03-10 00:00:00
Acc num: 168 enrollment date: 2015-04-08 00:00:00
Acc num: 152 enrollment date: 2014-11-17 00:00:00
Acc num: 1166 enrollment date: 2014-12-03 00:00:00
Acc num: 539 enrollment date: 2014-12-03 00:00:00
Acc num: 1251 enrollment date: 2014-12-05 00:00:00
Acc num: 613 enrollment date: 2014-12-05 00:00:00
Acc num: 453 enrollment date: 2014-12-08 00:00:00
Acc num: 380 enrollment date: 2014-12-08 00:00:00
Acc num: 451 enrollment date: 2015-04-01 00:00:00
Acc num: 625 enrollment date: 2015-04-02 00:00:00
Acc num: 1154 enrollment date: 2015-04-05 00:00:00
Acc num: 853 enrollment date: 2015-07-17 00:00:00
Acc num: 1296 enrollment date: 2015-04-07 00:00:00
Acc num: 844 enrollment date: 2015-04-07 00:00:00
Acc num: 690 enrollment date: 2015-04-08 00:00:00
Acc num: 424 enrollment date: 2015-04-06 00:00:00
Acc num: 379 enrollment date: 2015-04-07 00:00:00
Acc num: 395 enrollment date: 2015-04-08 00:00:00
Acc num: 1299 enrollment date: 2015-04-08 00:00:00
Acc num: 589 enrollment date: 2015-04-08 00:00:00
Acc num: 793 enrollment date: 2015-04-08 00:00:00
Acc num: 433 enrollment date: 2015-04-08 00:00:00
Acc num: 555 enrollment date: 2015-04-09 00:00:00
Acc num: 1104 enrollment date: 2015-04-10 00:00:00
Acc num: 676 enrollment date: 2015-04-13 00:00:00
Acc num: 127 enrollment date: 2015-04-24 00:00:00
Acc num: 201 enrollment date: 2015-04-24 00:00:00
Acc num: 396 enrollment date: 2015-04-24 00:00:00
Acc num: 267 enrollment date: 2015-04-24 00:00:00
Acc num: 240 enrollment date: 2015-04-24 00:00:00
Acc num: 647 enrollment date: 2015-05-06 00:00:00
Acc num: 559 enrollment date: 2015-05-07 00:00:00
Acc num: 476 enrollment date: 2015-05-08 00:00:00
Acc num: 516 enrollment date: 2015-05-11 00:00:00
Acc num: 77 enrollment date: 2015-01-07 00:00:00
Acc num: 56 enrollment date: 2015-01-07 00:00:00
Acc num: 93 enrollment date: 2015-01-07 00:00:00
Acc num: 207 enrollment date: 2015-01-07 00:00:00
Acc num: 103 enrollment date: 2015-01-07 00:00:00
Acc num: 460 enrollment date: 2015-05-07 00:00:00
Acc num: 446 enrollment date: 2015-01-07 00:00:00
Acc num: 232 enrollment date: 2015-01-08 00:00:00
Acc num: 670 enrollment date: 2015-01-08 00:00:00
Acc num: 515 enrollment date: 2015-01-08 00:00:00
Acc num: 59 enrollment date: 2015-01-10 00:00:00
Acc num: 900 enrollment date: 2015-05-11 00:00:00
Acc num: 357 enrollment date: 2015-01-11 00:00:00
Acc num: 279 enrollment date: 2015-04-08 00:00:00
Acc num: 136 enrollment date: 2015-04-08 00:00:00
Acc num: 413 enrollment date: 2015-02-06 00:00:00
Acc num: 306 enrollment date: 2015-04-08 00:00:00
Acc num: 436 enrollment date: 2015-02-08 00:00:00
Acc num: 35 enrollment date: 2015-02-08 00:00:00
Acc num: 463 enrollment date: 2015-02-09 00:00:00
Acc num: 284 enrollment date: 2015-04-08 00:00:00
Acc num: 521 enrollment date: 2015-04-08 00:00:00
Acc num: 239 enrollment date: 2015-03-04 00:00:00
Acc num: 958 enrollment date: 2015-03-04 00:00:00
Acc num: 475 enrollment date: 2015-05-09 00:00:00
Acc num: 276 enrollment date: 2015-05-10 00:00:00
Acc num: 608 enrollment date: 2015-05-10 00:00:00
Acc num: 293 enrollment date: 2015-05-10 00:00:00
Acc num: 341 enrollment date: 2015-05-10 00:00:00
Acc num: 501 enrollment date: 2015-05-11 00:00:00
Acc num: 25 enrollment date: 2014-11-11 00:00:00
Acc num: 674 enrollment date: 2015-05-12 00:00:00
Acc num: 771 enrollment date: 2015-05-13 00:00:00
Acc num: 63 enrollment date: 2015-05-28 00:00:00
Acc num: 481 enrollment date: 2015-05-28 00:00:00
Acc num: 42 enrollment date: 2015-05-30 00:00:00
Acc num: 939 enrollment date: 2015-04-24 00:00:00
Acc num: 11 enrollment date: 2015-04-24 00:00:00
Acc num: 262 enrollment date: 2015-04-24 00:00:00
Acc num: 167 enrollment date: 2015-04-24 00:00:00
Acc num: 302 enrollment date: 2015-04-24 00:00:00
Acc num: 551 enrollment date: 2015-04-24 00:00:00
Acc num: 609 enrollment date: 2015-04-24 00:00:00
Acc num: 109 enrollment date: 2015-05-06 00:00:00
Acc num: 211 enrollment date: 2015-05-06 00:00:00
Acc num: 274 enrollment date: 2015-05-06 00:00:00
Acc num: 407 enrollment date: 2015-05-06 00:00:00
Acc num: 360 enrollment date: 2015-05-06 00:00:00
Acc num: 540 enrollment date: 2015-05-08 00:00:00
Acc num: 1173 enrollment date: 2015-05-08 00:00:00
Acc num: 112 enrollment date: 2015-05-08 00:00:00
Acc num: 479 enrollment date: 2015-05-09 00:00:00
Acc num: 237 enrollment date: 2015-05-10 00:00:00
Acc num: 487 enrollment date: 2015-05-10 00:00:00
Acc num: 304 enrollment date: 2015-05-10 00:00:00
Acc num: 330 enrollment date: 2015-05-10 00:00:00
Acc num: 1250 enrollment date: 2015-05-11 00:00:00
Acc num: 27 enrollment date: 2015-05-11 00:00:00
Acc num: 260 enrollment date: 2015-05-11 00:00:00
Acc num: 511 enrollment date: 2015-05-11 00:00:00
Acc num: 399 enrollment date: 2015-05-12 00:00:00
Acc num: 977 enrollment date: 2015-05-12 00:00:00
Acc num: 556 enrollment date: 2015-05-12 00:00:00
Acc num: 1265 enrollment date: 2015-05-12 00:00:00
Acc num: 252 enrollment date: 2015-05-12 00:00:00
Acc num: 1240 enrollment date: 2015-01-12 00:00:00
Acc num: 100 enrollment date: 2015-02-05 00:00:00
Acc num: 313 enrollment date: 2015-02-05 00:00:00
Acc num: 615 enrollment date: 2015-03-05 00:00:00
Acc num: 372 enrollment date: 2015-03-06 00:00:00
Acc num: 614 enrollment date: 2015-03-06 00:00:00
Acc num: 208 enrollment date: 2015-03-08 00:00:00
Acc num: 652 enrollment date: 2015-03-10 00:00:00
Acc num: 1185 enrollment date: 2015-05-13 00:00:00
Acc num: 490 enrollment date: 2015-05-13 00:00:00
Acc num: 365 enrollment date: 2015-05-13 00:00:00
Acc num: 220 enrollment date: 2015-05-29 00:00:00
Acc num: 124 enrollment date: 2015-05-31 00:00:00
Acc num: 496 enrollment date: 2015-06-03 00:00:00
Acc num: 405 enrollment date: 2015-06-04 00:00:00
Acc num: 452 enrollment date: 2015-06-04 00:00:00
Acc num: 318 enrollment date: 2015-06-05 00:00:00
Acc num: 266 enrollment date: 2015-06-06 00:00:00
Acc num: 219 enrollment date: 2015-06-06 00:00:00
Acc num: 83 enrollment date: 2015-06-06 00:00:00
Acc num: 1266 enrollment date: 2015-06-07 00:00:00
Acc num: 121 enrollment date: 2015-06-07 00:00:00
Acc num: 459 enrollment date: 2015-06-08 00:00:00
Acc num: 1032 enrollment date: 2015-06-08 00:00:00
Acc num: 128 enrollment date: 2015-06-08 00:00:00
Acc num: 1031 enrollment date: 2015-06-09 00:00:00


# Validation: Do my numbers make sense?

How do I validate that my crunching is correct, and something did not get messed up along the way?

Write your thoughts in this markdown cell. Use task 3 above as a thinking tool.

In [172]:
# Your check goes here


# Exercise 2: Splitting passing/non-passing students (15 mins)
- Write code to split passing and non-passing students for the first project. The first project refers to the following two lesson keys: ['746169184', '3176718735']. Be careful about how you check for "passing".
- Use the code you wrote above to compare the two student groups.
- Plot histograms for the metrics you computed. What do the plots tell? (You may want to revisit the plotting code in the python-tutorial).